[Desktop Entry]
Encoding=UTF-8
Name=Link to Download (27 MB)
Type=Link
URL=https://www.kaggle.com/voltdata/capes-bolsas/download
Icon=text-html
Name[en_US]=capes-bolsas_LINK
