[Desktop Entry]
Encoding=UTF-8
Name=Link to Download (31 KB)
Type=Link
URL=https://www.kaggle.com/gustavomodelli/forest-fires-in-brazil/downloads/forest-fires-in-brazil.zip/1
Icon=text-html
Name[en_US]=forest-fires-in-brazil_LINK
