[Desktop Entry]
Encoding=UTF-8
Name=Link to Download (2 MB)
Type=Link
URL=https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data/downloads/new-york-city-airbnb-open-data.zip/3
Icon=text-html
Name[en_US]=new-york-city-airbnb-open-data_LINK
