[Desktop Entry]
Encoding=UTF-8
Name=Link to Programa Universidade para Todos - ProUni (PDA/MEC 2016/2018) - 2018 - Bolsas concedidas e perfil dos beneficiários do Prouni - Portal Brasileiro de Dados Abertos
Type=Link
URL=http://dados.gov.br/dataset/mec-prouni/resource/a927c93a-c448-43fd-8654-8ed978f49bc8
Icon=text-html
Name[en_US]=pda-bolsistas-prouni-2018_LINK
