[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
yfinance = "*"
streamlit = "*"
pandas = "*"
scikit-learn = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
numpy = "*"

[requires]
python_version = "3.8"
